---
title: "文集"
layout: default
permalink: "/categories.html"
---

<div class="s-content" style="padding-top: 0;">
    {% for category in site.categories %} 
    <header class="listing-header">
      <h1 class="h2 list-header" id="{{ category[0] | downcase }}">我的文集: {{ category[0] }}</h1>
    </header>
    
    <div class="masonry-wrap">
        <div class="masonry">
          <div class="grid-sizer"></div>
          {% assign pages_list = category[1] %}
          {% for post in pages_list %}
          {% include article-index.html %}
          {% endfor %}
        </div>
    </div>
    {% endfor %}
    <header class="listing-header">
        <h1 class="h2 list-header" id="default">默认分组</h1>
      </header>
      <div class="masonry-wrap">
          <div class="masonry">
            <div class="grid-sizer"></div>
              {% for post in site.posts %}
                {% if post.categories.size == 0 %}
                  {% include article-index.html %}
                {% endif %}
              {% endfor %}
          </div>
      </div>
</div>
