---
title: "标签"
layout: default
permalink: "/tags.html"
---

<div class="s-content" style="padding-top: 0;">
    {% if site.tags contains 'article' %}
      {% for tagitem in site.tags %} 
      <header class="listing-header">
        {% assign tag = tagitem[0] %}
        <h1 style="padding-top: 6.4rem;" class="h2" id="{{ tag | downcase }}">
          {% include tag-index.html %}
        </h1>
      </header>

      <div class="masonry-wrap">
          <div class="masonry">
            <div class="grid-sizer"></div>
            {% assign pages_list = tagitem[1] %}
            {% for post in pages_list %}
            {% include article-index.html %}
            {% endfor %}

            {% if tag == "article" %}
              {% for post in site.posts %}
                {% if post.tags.size == 0 %}
                  {% include article-index.html %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
      </div>
      {% endfor %}
    {% else %}
      <header class="listing-header">
        <h1 style="padding-top: 6.4rem;" class="h2" id="article">文章</h1>
      </header>
      <div class="masonry-wrap">
          <div class="masonry">
            <div class="grid-sizer"></div>
              {% for post in site.posts %}
                {% if post.tags.size == 0 %}
                  {% include article-index.html %}
                {% endif %}
              {% endfor %}
          </div>
      </div>
      {% for tagitem in site.tags %} 
      <header class="listing-header">
        {% assign tag = tagitem[0] %}
        <h1 style="padding-top: 6.4rem;" class="h2" id="{{ tag | downcase }}">
          {% include tag-index.html %}
        </h1>
      </header>

      <div class="masonry-wrap">
          <div class="masonry">
            <div class="grid-sizer"></div>
            {% assign pages_list = tagitem[1] %}
            {% for post in pages_list %}
            {% include article-index.html %}
            {% endfor %}
          </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
