<style>
  #searchResult {
    text-align: left;
    margin-top: 0;
    position: absolute;
    top: 250px;
    bottom: 50px;
    overflow-y: auto;
    left: 0px;
    right: 0px;
    width: 75%;
    margin: auto;
    max-width: 680px;
  }
  #searchResult ul {
    list-style: none;
  }
  .lunrsearchresult .title {color: #d9230f;}
  .lunrsearchresult .url {color: silver;}
  .lunrsearchresult a {display: block; color: #777;}
  .lunrsearchresult a:hover, .lunrsearchresult a:focus {text-decoration: none;}
  .lunrsearchresult a:hover .title {text-decoration: underline;}
</style>
<script>
  {% assign counter = 0 %}
  {% assign videoCounter = 0 %}
  {% assign audioCounter = 0 %}
  {% assign galleryCounter = 0 %}
  {% assign linkCounter = 0 %}
  {% assign quoteCounter = 0 %}
  {% assign articleCounter = 0 %}
  var sitePosts = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %}{% else %}{
      "id": {{ counter }},
      "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
      }, {% endif %}{% endfor %}{% for page in site.without-plugin %}{
      "id": {{ counter }},
      "url": "{{ site.url }}{{site.baseurl}}{{ page.url }}",
      "title": "{{ page.title }}",
      "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
      }, {% endfor %}{% for postitem in site.posts %}{
        {% if postitem.tags contains 'video' %}
        {% assign videoCounter = videoCounter | plus: 1 %}
        {% elsif postitem.tags contains 'audio' %}
        {% assign audioCounter = audioCounter | plus: 1 %}
        {% elsif postitem.tags contains 'gallery' %}
        {% assign galleryCounter = galleryCounter | plus: 1 %}
        {% elsif postitem.tags contains 'link' %}
        {% assign linkCounter = linkCounter | plus: 1 %}
        {% elsif postitem.tags contains 'quote' %}
        {% assign quoteCounter = quoteCounter | plus: 1 %}
        {% else %}
        {% assign articleCounter = articleCounter | plus: 1 %}
        {% endif %}
      "id": {{ counter }},
      "url": "{{ site.url }}{{site.baseurl}}{{ postitem.url }}",
      "title": "{{ postitem.title }}",
      "post": true,
      "body": "{{ postitem.date | date: "%Y/%m/%d" }} - {{ postitem.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
      }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];
</script>

<!-- site header
        ================================================== -->
<header class="s-header">
  <div class="header__top">
    <div class="header__logo">
      <a class="site-logo" href="/">
        <img src="/{{site.logo}}" alt="Homepage">
      </a>
    </div>

    <div class="header__search">
      <div role="search" method="get" class="header__search-form" action="#">
        <label>
          <span class="hide-content">搜索</span>
          <input type="search" class="header__search-field" placeholder="请输入关键字" value="" name="s"
            title="搜索" autocomplete="off">
        </label>
      </div>

      <div id="searchResult"><ul></ul></div>

      <a href="#0" title="Close Search" class="header__search-close">Close</a>

    </div> <!-- end header__search -->
    <a href="#0" class="header__search-trigger"></a>
    <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

  </div> <!-- end header__top -->

  <nav class="header__nav-wrap">

    <ul class="header__nav">
      <li class="current"><a href="/" title="">首页</a></li>
      <li class="has-children">
        <a href="#0" title="">文集</a>
        <ul class="sub-menu">
          <li><a class="feature-action" href="/categories.html#default" data="default">默认分组</a></li>
          {% for category in site.categories %}
          <li><a class="feature-action" href="/categories.html#{{ category[0] | downcase }}" data="{{ category[0] | downcase }}">{{ category[0] }}({{ category[1].size }})</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="has-children">
        <a href="#0" title="">文章类型</a>
        <ul class="sub-menu">
          {% for tag in site.articletypes %}
          <li><a class="type-action" href="/tags.html#{{ tag | downcase }}" data="{{ tag | downcase }}">
            {% include tag-index.html %}
          </a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/contact.html" title="">联系作者</a></li>
      <li><a href="/buy-me-a-coffee.html" title="">打赏</a></li>
      <li><a href="/about.html" title="">关于网站</a></li>
    </ul> <!-- end header__nav -->

    <ul class="header__social flex-wrap">
      {% for social in site.socials%}
      <li class="ss-{{ social[0] }} white">
        <a href="{{ social[1].url }}" target="_blank">
          <span class="screen-reader-text">{{ social[1].name }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>

  </nav> <!-- end header__nav-wrap -->
</header> <!-- end s-header -->
