<!-- All this area goes before </body> closing tag --> 
<footer class="s-footer footer">
    <div class="row">
        <div class="column large-full footer__content">
            <div class="footer__copyright">
                <span>© Copyright 2021 yanglidong.com</span> 
                <span><a target="_blank" href="https://github.com/aiyld/yldblog" data-bitapp="processed">
                    <img src="/assets/images/icons/social/icon-github.svg" height="16" width="16"></i> Fork on Github</a>
                </span>
                <span>Designed by YLD</span>
            </div>
            <div style="text-align:center;margin-top: 10px;"><a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备17053153号-2</a></div>
        </div>
    </div>

    <div class="go-top">
        <a class="smoothscroll" title="Back to Top" href="#top"></a>
    </div>
</footer>