---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="s-content content">
	<main class="row content__page">
		<article class="column large-full entry format-standard">
			{% if page.image %}
			<div class="media-wrap entry__media">
				<div class="entry__post-thumb text-center">
					<img style="max-height: 360px" class="rounded"
						src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
						alt="{{ page.title }}">
				</div>
			</div>
			{% endif %}

			<div class="content__page-header entry__header">
				<h1 class="display-1 entry__title">{{ page.title }}</h1>
				<br/>
				<ul class="entry__header-meta">
					<li class="author">作者 <a href="/{{author.link}}">{{ author.name }}</a></li>
					<li class="date">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</li>
					<li class="cat-links">
						{% for category in page.categories %}
						<a href="/categories.html#{{ category | downcase }}">{{ category | downcase }}</a>
						{% endfor %}
					</li>
				</ul>
			</div> <!-- end entry__header -->

			<div class="entry__content">
				{{ content }}

				{% if page.marks > 0 %}
				<p class="entry__tags">
					<span>标签</span>

					<span class="entry__tag-list">
						{% for tag in page.marks %}
						<span>{{ tag | downcase }}</span>
						{% endfor %}
					</span>
				</p>
				{% endif %}
			</div>

			{% include share.html %}

			<div class="comments-wrap">
					{% include comments.html %}
			</div>

			<!-- <div class="entry__pagenav">
				<div class="entry__nav">
					{% if page.previous.url %}
					<div class="entry__prev">
						<a href="{{ page.previous.url }}" rel="prev">
							<span>上一篇</span>
							{% if page.previous.title %}
							{{ page.previous.title}}
							{% else %}
							{{ page.previous.content | strip_html | strip_newlines | truncate: 50 }}
							{% endif %}
						</a>
					</div>
					{% endif %}
					{% if page.next.url %}
					<div class="entry__next">
						<a href="{{ page.next.url }}" rel="next">
							<span>下一篇</span>
							{% if page.next.title %}
							{{ page.next.title}}
							{% else %}
							{{ page.next.content | strip_html | strip_newlines | truncate: 50 }}
							{% endif %}
						</a>
					</div>
					{% endif %}
				</div>
			</div>-->

			<div class="entry__related">
				<h3 class="h2">相关文章</h3>

				<div class="masonry-wrap">
					<div class="masonry">
							<div class="grid-sizer"></div>
							{% for post in site.related_posts limit:4%}
							{% include article-index.html %}
							{% endfor %}
					</div>
				</div>
			</div> <!-- end entry related -->
		</article> <!-- end column large-full entry-->
	</main>
</div>