---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="s-content content">
	<main class="row content__page">
		<article class="column large-full entry format-standard">
			{% if page.image %}
			<div class="media-wrap entry__media">
				<div class="entry__post-thumb text-center">
					<img style="max-height: 360px" class="rounded"
						src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}"
						alt="{{ page.title }}">
				</div>
			</div>
			{% endif %}

			<div class="content__page-header entry__header">
				<h1 class="display-1 entry__title">{{ page.title }}</h1>
				<ul class="entry__header-meta">
					<li class="author">By <a href="#0">{{ author.name }}</a></li>
					<li class="date">{{ page.date | date: '%b %d, %Y' }} · {% include meta-read-time.html %}</li>
					<li class="cat-links">
						{% for category in page.categories %}
						<a href="/categories.html#{{ category | downcase }}">{{ category | downcase }}</a>
						{% endfor %}
					</li>
				</ul>
			</div> <!-- end entry__header -->

			<div class="entry__content">
				{{ content }}

				{% if page.marks > 0 %}
				<p class="entry__tags">
					<span>标签</span>

					<span class="entry__tag-list">
						{% for tag in page.marks %}
						<span>{{ tag | downcase }}</span>
						{% endfor %}
					</span>
				</p>
				{% endif %}
			</div>

			{% include share.html %}

			<div class="comments-wrap">
					{% include comments.html %}
			</div>

			<div class="entry__pagenav">
				<div class="entry__nav">
					{% if page.previous.url %}
					<div class="entry__prev">
						<a href="{{ page.previous.url }}" rel="prev">
							<span>上一篇</span>
							{{ page.previous.title }}
						</a>
					</div>
					{% endif %}
					<div class="entry__next">
						<a href="{{ page.next.url }}" rel="next">
							<span>下一篇</span>
							{{page.next.title}}
						</a>
					</div>
				</div>
			</div> <!-- end entry__pagenav -->

			<div class="entry__related">
				<h3 class="h2">相关文章</h3>

				<ul class="related">
					{% for post in site.related_posts limit:3%}
						<li class="related__item">
							{% if post.image %}
							<a href="{{post.url}}" class="related__link">
									<img src="{% if post.image contains "://" %}{{ post.image }}{% else %} /{{ post.image}}{% endif %}"
											srcset="{% if post.image contains "://" %}{{ post.image }}{% else %} /{{ post.image}}{% endif %}"
											alt="">
							</a>
							{% endif %}
							<h5 class="related__post-title">{{ post.excerpt  | strip_html | strip_newlines | truncate: 60}}</h5>
						</li>
					{% endfor %}
				</ul>
			</div> <!-- end entry related -->
		</article> <!-- end column large-full entry-->
	</main>
</div>